.blog-section {
    width: 100%;
    height: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .blog-grid {
        margin: 0 auto;
        width: 1240px;
        height: 700px;
        margin-top: 50px;
        margin-bottom: 90px;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .news-list {
            width: 100%;
            height: 100%;
            list-style-type: none;
            display: flex;
            flex-flow:row nowrap;
            justify-content: space-between;
            align-items: center;

            li{
                height: 100%;
                width: 32%;
                position: relative;

                img{
                    width: 100%;
                    height: 300px;
                }
                span {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    display: block;
                    text-align: center;
                    margin: 15px auto;
                    color: $terciary;
                    margin-bottom: 80px;
                }
                h2 {
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                    font-weight: bold;
                    font-size: 28px;
                    color: $terciary;
                    letter-spacing: auto;
                    line-height: 33px;
                }
                p {
                    font-family: 'Droid-serif', sans-serif;
                    font-weight: 300;
                    color: $terciary;
                    font-size: 20px;
                    line-height: 35px;
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                }
            }
        }
    }
}