.clients {
    width: 100%;
    height: 450px;
    background-color: $primary;
    margin-top: 100px;
    .clients-grid {
        width: 65%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;

        .client-logo-list {
            width: 1200px;
            height: 201px;
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            li {
                &:nth-child(1) {
                    background-image: url('../img/logo1.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 128px;
                    height: 100px;
                }
                &:nth-child(2) {
                    background-image: url('../img/logo2.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 120px;
                    height: 120px;
                }
                &:nth-child(3) {
                    background-image: url('../img/logo3.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 120px;
                    height: 120px;
                }
                &:nth-child(4) {
                    background-image: url('../img/logo4.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 130px;
                    height: 108px;
                }
            }
        }
    }
}