.body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.homepage {
    width: 100%;
    height: 956px;
    margin: 0;
    background-image: url('.././img/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    .navbar {
        width: 100%;
        padding-top: 30px;
        height: 40px;
        background-color: transparent;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        transition: .25s;
        z-index: 100;
        .menu {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .navbar-brand {
            height: 30px;
            width: 210px;
            margin-left: 40px;
            justify-self: flex-start;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color: #FFFFFF;
            font-size: 17px;
            text-transform: uppercase;
            letter-spacing: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .logo {
                width: 38px;
                height: 30px;
                display: block;
                background-image: url('../img/logo.png');
                background-size: cover;
                margin-bottom: 3px;
            }
        }
        .buttons {
            width: 585px;
            height: 100%;
            position: relative;
            margin-right: 40px;
            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 400px;
                li {
                    a {
                        text-decoration: none;
                        color: #FFFFFF;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 200;
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        transition: .2s;
                        &:hover {
                            color: lavender;
                        }
                    }
                }
            }
        }
    }
    .color {
        background-color: $terciary;
        box-shadow: 1px 4px 20px $terciary;
    }
    .home-grid {
        width: 1245px;
        height: 620px;
        padding-top: 200px;
        position: relative;
        margin: 0 auto;
        align-self: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        .home-presents {
            width: 1245px;
            height: 450px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: flex-start;
            .home-text {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 20px;
                line-height: 120px;
                font-size: 102px;
                width: 76%;
            }
            .view-projects-btn {
                width: 200px;
                height: 45px;
                background-color: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    text-transform: uppercase;
                    transition: .2s;
                    &:hover {
                        color: lavender;
                    }
                }
            }
        }
    }
    .arrow {
        position: absolute;
        bottom: 25px;
        width: 45px;
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        div {
            height: 1px;
            background-color: #FFFFFF;
            position: absolute;
            width: 50%;
        }
        .arrow-line-one {
            transform: rotate(35deg);
            left: 2.0px;
        }
        .arrow-line-two {
            transform: rotate(-35deg);
            right: 2.0px;
        }
    }
}

.say-hello {
    width: 120px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    align-self: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
}

.animated {
    animation: arrowanimation .6s linear infinite;
}

@keyframes arrowanimation {
    0% {
        bottom: 25px;
    }
    25% {
        bottom: 15px;
    }
    50% {
        bottom: 0px;
    }
    75% {
        bottom: 15px;
    }
    100% {
        bottom: 25px;
    }
}
.fixed {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}