@media only screen and (min-width:680px) and (max-width: 1124px) {
    .blog-section {
        width: 100vw;
        height: 2100px;
        .blog-grid {
            min-width: 95%;
            max-width: 95%;
            height: 2000px;
            .news-list {
                width: 450px;
                margin: 0 auto;
                flex-flow: column wrap;
                li {
                    width: 85%;
                    margin: 0 auto;
                    height: 600px;
                    span {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 32px;
                        line-height: 40px;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 22px;
                        line-height: 35px;
                        width: 100%;
                        position: relative;
                    }
                }
            }
        }
    }
}