@media only screen and (max-width: 675px) and (min-width: 320px) {
    .blog-section {
        width: 100vw;
        height: 1900px;
        .blog-grid {
            min-width: 95%;
            max-width: 95%;
            height: 1900px;
            .news-list {
                width: 100%;
                flex-flow: column wrap;
                li {
                    width: 85%;
                    margin: 0 auto;
                    height: 32%;
                    span {
                        margin-bottom: 15px;
                    }
                    h2{
                        font-size: 25px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }
                    p{
                        font-size: 17px;
                        line-height: 32px;
                        width: 100%;
                        position: relative;
                    }
                }
            }
        }
    }
}