@media only screen and (min-width:680px) and (max-width: 1124px) {
    .twitter-sect {
        width: 100vw;
        height: 400px;
        margin-top: 200px;
        .section-grid {
            min-width: 95%;
            max-width: 95%;
            justify-content: center;
            .section-content {
                width: 350px;
                height: 235px;
                align-items: center;
                p {
                    text-align: center;
                    font-size: 22px;
                    line-height: 30px;
                }
                .button-follow {
                    width: 160px;
                    height: 45px;
                }
            }
        }
    }
}